---
import type { BulletedListItemBlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import InlineCode from "./InlineCode.astro";

interface Props {
  block: {
    type: string;
    list_items: BulletedListItemBlockObjectResponse[];
  };
}

const { block } = Astro.props as Props;
---

<ul>
  {
    block.list_items.map((item) => {
      return (
        <li>
          {item[item.type].rich_text.map((entry) => {
            if (entry.href) {
              return (
                <a href={entry.href} title={entry.plain_text}>
                  {entry.plain_text}
                </a>
              );
            }
            if (entry.annotations.code) {
              return <InlineCode>{entry.plain_text}</InlineCode>;
            }
            return <span>{entry.plain_text}</span>;
          })}
        </li>
      );
    })
  }
</ul>
