---
import { Picture } from "@astrojs/image/components";
import Layout from "../../layouts/layout.astro";
import { fetchArticles } from "src/utils/notion";
import Tags from "@components/blog/Tags.astro";

const articles = await fetchArticles();
---

<Layout title="Blog" description="">
  <section class="ds__section--sm">
    <h1 class="ds__title--xl">Sometimes I try to write stuff</h1>

    <ul class="grid" role="list">
      {
        articles.map((article) => (
          <li>
            <article class="post">
              <a class="ds__link--clean" href={`/blog/${article.slug}`}>
                <div class="ds__blogpost-thumbnail">
                  <Picture
                    class="ds__blogpost-thumbnail__img"
                    src={article.cover}
                    alt={article.slug}
                    format="webp"
                    widths={[360, 450, 600]}
                    aspectRatio={16 / 9}
                    sizes="(max-width: 600px) 100vw, 600px"
                    quality={90}
                  />
                </div>
              </a>

              <Tags items={article.tags} position="left" small />

              <a href={`/blog/${article.slug}`}>
                <h3>{article.title}</h3>
              </a>
              <p>{article.excerpt} ...</p>
            </article>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style lang="scss">
  .ds__title--xl {
    margin-bottom: 3rem;
    text-align: center;
  }

  .post {
    & > * {
      margin-top: 0.75rem;
    }
    h3 {
      text-align: center;
      font-size: 1.25rem;
    }
    p {
      color: var(--clr-label);
      font-size: 0.75rem;
      letter-spacing: 0.5px;
    }
  }

  .grid {
    --grid-columns: 1;
    --grid-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--grid-gap);
  }
  @media screen and (min-width: 768px) {
    .grid {
      --grid-columns: 2;
      --grid-gap: 1.25rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .grid {
      --grid-columns: 3;
      --grid-gap: 1.5rem;
    }
  }
</style>
