---
import "../assets/styles/index.scss";
import "aos/dist/aos.css";

import UIHeader from "@components/base/UIHeader.astro";
import UIFooter from "@components/base/UIFooter.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<!-- <meta property="og:image" content={`/og/blog/${slug}.svg`} /> -->

<script
  async
  defer
  type="text/partytown"
  data-website-id="9afa6024-4623-47a9-83a0-daf557f5b692"
  src="https://icant-umami.netlify.app/umami.js"
></script>

<body>
  <UIHeader />
  <main>
    <slot />
  </main>
  <UIFooter />
</body>
